  <div id="delay_key" class="progress" style="display: none;">
      <div class="indeterminate"></div>
  </div>

  <table class="highlight">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Phones</th>
        <th>Cidade</th>
        <th>Mensagem</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @contatos.each do |contato| %>
        <tr>
          <td><%= contato.id %></td>
          <td><%= contato.nome %></td>
          <td><%= contato.email %></td>
          <td><%= contato.phones %></td>
          <td><%= contato.cidade %></td>
          <td><%= contato.mensagem %></td>
          <td>
            <%= link_to "<i class='material-icons prefix'>edit</i>".html_safe, edit_admin_contato_path(contato), class: "btn btn-floating" %>
            <%= link_to "<i class='material-icons prefix'>delete</i>".html_safe, admin_contato_path(contato), method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-floating", style: "background-color: red;" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

