<% content_for(:title, "Contatos") %>

<div class="title">
      <% if params[:sac] == "true" %>
        <h3><%= "SAC" %></h3>
      <% elsif params[:trabalhe_conosco] == "true" %>
        <h3><%= "TRABALHE CONOSCO" %></h3>
      <% else %>
	     <h3><%= "SUGESTÕES" %></h3>
      <% end %>
</div>
<div style="margin: 15px; padding: 15px;">
	<%= link_to "Novo", new_admin_contato_path, class: "btn", style: "background-color: #5073b6; color: white;" %>
</div>
  <div class="row">
    <form class="col s12">
      <div class="row">
		<div class="input-field col s2">
		  <input id="id" type="text" class="validate">
		  <label class="active" for="id">Código</label>
		</div>
		<div class="input-field col s2">
		  <input id="name" type="text" class="validate">
		  <label class="active" for="name">Nome Completo</label>
		</div>
		<div class="input-field col s2">
		  <input id="email" type="text" class="validate">
		  <label class="active" for="email">E-mail</label>
		</div>
      </div>
    </form>
  </div>

<div class="row">
  <div class="col s12 m12 l12">
    <div id="contato_list">
      <% if params[:sac] == "true" %>
        <%= render 'list_sac' %>
      <% elsif params[:trabalhe_conosco] == "true" %>
        <%= render 'list_trabalhe_conosco' %>
      <% else %>
        <%= render 'list_dicas' %>
      <% end %>
    </div>
  </div>

</div>


<script type="text/javascript">
$("input").keyup(function() {
  $(this).val($(this).val().toUpperCase());
});
  $(function($) {

    $("#id").keyup(function() {

      if( $(this).prop('value') != "" ) {
        var id = $(this).prop('value');
        var name = $("#name").prop('value');
        var email = $("#email").prop('value');
        delay(function(){
        	att_index(id, name, email);
        }, 1000 );


      }
    });

    $("#name").keyup(function() {

      if( $(this).prop('value') != "" ) {
        var name = $(this).prop('value');
        var email = $("#email").prop('value');
        var id = $("#id").prop('value');
        delay(function(){
        	att_index(id, name, email);
        }, 1000 );


      }
    });

    $("#email").keyup(function() {

      if( $(this).prop('value') != "" ) {
        var email = $(this).prop('value');
        var id = $("#id").prop('value');
        var name = $("#name").prop('value');
        delay(function(){
        	att_index(id, name, email);
        }, 1000 );


      }
    });

  });



</script>

<script type="text/javascript">
  
function att_index(id, name, email){

    $.ajax({
      url: "/admin/contatos",
      method: "GET",
      dataType: "script",
      data: {
      	'id': 			                   id,
        'name': 		                   name,
        'email': 		                   email,
        'sac':                        "<%= true unless params[:sac].blank? %>",
        'trabalhe_conosco':           "<%= true unless params[:trabalhe_conosco].blank? %>",
        'dicas':                      "<%= true unless params[:dicas].blank? %>"
      },
    });

}
</script>

<script type="text/javascript">
  var delay = (function(){
    var timer = 0;
    return function(callback, ms){
      clearTimeout (timer);
      timer = setTimeout(callback, ms);
      $("#delay_key").css("display","inherit");
    };
  })();



</script>
