<% if !params[:sac].blank? %>
	$("#contato_list").html("<%= j( render 'list_sac' )%>");
<% elsif !params[:trabalhe_conosco].blank? %>
	$("#contato_list").html("<%= j( render 'list_trabalhe_conosco' )%>");
<% else %>
	$("#contato_list").html("<%= j( render 'list_dicas' )%>");
<% end %>
