<%= form_for [:admin, @vagas_pretendidas], url: admin_vagas_pretendidas_path do |f| %>

  <div id="form_error">
    <%= render '/shared/form_error', object: @vagas_pretendidas %>
  </div>

  <div class="row">
      <div class="field">
        <div class="input-field col s12">
          <i class="material-icons prefix">format_align_justify</i>
          <%= f.text_field :nome %>
          <label for="icon_prefix">Nome</label>
        </div>
      </div>
      <div class="field">
        <div class="input-field col s12">
          <i class="material-icons prefix">format_align_justify</i>
          <%= f.text_field :descricao, as: :text, class: "materialize-textarea", 'data-length' => "500", id: "textarea1", maxlength: 500 %>
          <label for="textarea1">Descrição</label>
        </div>
      </div>
  </div>
    <div class="switch col s3">
    <div class="title">
      <p>Ativo</p>
    </div>
      <label>
        Não
        <%= f.check_box :ativo, checked: true %>
        <span class="lever"></span>
        Sim
      </label>
    </div>

    <div class="field">
      <div class="input-field col s12">
        <div class="actions">
          <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </div>

<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });

  $(document).ready(function() {
    $('input#input_text, textarea#textarea1').characterCounter();
  });
</script>