  <div id="delay_key" class="progress" style="display: none;">
      <div class="indeterminate"></div>
  </div>

  <table class="highlight">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @vagas_pretendidas.each do |vagas_pretendidas| %>
        <tr>
          <td><%= vagas_pretendidas.id %></td>
          <td><%= vagas_pretendidas.nome %></td>
          <td><%= vagas_pretendidas.descricao %></td>
          <td>
            <%= link_to "<i class='material-icons prefix'>edit</i>".html_safe, edit_admin_vagas_pretendida_path(vagas_pretendidas), class: "btn btn-floating" %>
            <%= link_to "<i class='material-icons prefix'>delete</i>".html_safe, admin_vagas_pretendida_path(vagas_pretendidas), method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-floating", style: "background-color: red;" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

