<% if @contato.errors.any? %>
  $("#form_error").html("<%= j( render '/shared/form_error', object: @contato )%>");
  $('html, body').animate({ scrollTop: 0 }, 'slow');
<% else %>
  $("#contato").html("<%= j( render '/shared/form_success', user: @contato )%>");
<% end %>