body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    flex: 1 0 auto;
  }


  footer{
    .page-footer{
    background: #003C3A;
      .copyright{
        padding-bottom: 16px;
        color: white;
        .copyright-link{
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}