header{
    background: #003C3A;
  nav{
    .brand-logo{
      margin-left: 10px;
      .logo-title{
        font-size: 20px;
      }
    }

    .nav-image {
      width: 50px;
      margin-top: 8px;
    }
  }

  .nav_top_back{
    background: #003C3A;
    a{
      border-bottom: 3px transparent solid;
      color: #000;
      &:hover, &:focus, &:active{
        text-shadow: 0 0 2px rgba(000, 000, 000, 0.3);
        background: transparent;
      }
    }
    ul{
    }
  }

  .nav_top{
    background: #003C3A;
    a{
      border-bottom: 3px transparent solid;
      color: #fff;
      &:hover, &:focus, &:active{
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.99);
        background: transparent;
        border-bottom: 3px #eee solid;
      }
    }
    ul{
    }
    a.seja_corretor{
      background-color: #fff;
      color: white;
    }
    a.anuncie_imovel{
      background-color: #d0fc20;
      color: #003C3A;
    }
  }

  .z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.09);
  }

  .nav_botton{
    background: #fff;
    a{
      color: #444444;
      border-bottom: 6px transparent solid;
      &:hover, &:focus, &.active{
        color: #333;
        background: transparent;
        border-bottom: 6px #003C3A solid;
        text-shadow: 0px 0px 2px rgba(000, 000, 000, 0.4);
      }
    }
    img.logo{
      padding: 5px 0;
      max-width: 80px;
      height: auto;
    }
  }
  .nav_botton_back{
    background: #fff;
    a{
      color: #444444;
      &:hover, &:focus, &.active{
        color: #333;
        background: transparent;
        text-shadow: 0px 0px 2px rgba(000, 000, 000, 0.4);
      }
    }
    img.logo{
      padding: 5px 0;
      max-width: 80px;
      height: auto;
    }
  }
}