<div class="page-footer">
	
    <%= render '/pages/mapa' %>
    <%= render '/pages/institucional' %>
  <div class="container">
    <div class="copyright">
      <b>
      <p style="text-align: center;">
       Copyright ® <%= Date.today.year %> | Giardino | 
      </p>
      </b>
    </div>
  </div>
</div>
