<nav class="nav_top">
          <img class="brand-logo" src="/images/logos/logo.png" style="max-width: 64px; padding: 2px;" >
  <div class="nav-wrapper container">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
        <li><%= link_to "HOME", home_path, class: "#{'active' if current_page? home_path}" %></li>
        <li><a class="dropdown-button" data-activates="dropdown1">FALE CONOSCO<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to "HOME", home_path, class: "#{'active' if current_page? home_path}" %></li>
        <li><%= link_to "LOGIN", new_user_session_path, class: "#{'active' if current_page? new_user_session_path}" if current_user.blank? %></li>
        <li><%= link_to "SAC", sac_path, class: "#{'active' if current_page? sac_path}", style: "color: black; border: none;" %></li>
        <li><%= link_to "TRABALHE CONOSCO", sac_path, class: "#{'active' if current_page? sac_path}", style: "color: black; border: none;" %></li>
        <li><%= link_to "DÚVIDAS E SUGESTÕES", sac_path, class: "#{'active' if current_page? sac_path}", style: "color: black; border: none;" %></li>
        <li><div class="divider"></div></li>
        <li><%= link_to "SAIR", destroy_user_session_path unless current_user.blank? %></li>
      </ul>

    <ul class="right hide-on-med-and-down">
      <% if current_user %>
              <li>
                <%= link_to "#{image_tag(current_user.image_to, class: 'btn btn-large btn-floating', style: 'padding-top: 7px; background-color: #273249; border: 4px solid #273249;')}".html_safe, admin_root_path, class: "btn btn-large btn-floating pulse", style: "background-color: #fff; border: 2px solid #273249;" %>
                <li><%= link_to("Sair <i class='material-icons'>exit_to_app</i>".html_safe, destroy_user_session_path, :method => :delete, style: "display: inline-flex;") %></li>
              </li>
        <% else %>
        <li><%= link_to "login <i class='material-icons' style='transform: rotate(180deg);'>exit_to_app</i>".html_safe, new_user_session_path, style: "display: inline-flex;", class: "#{'active' if current_page? new_user_session_path}" %></li>
        <% end %>
    </ul>
  </div>
</nav>

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "SAC", sac_path, class: "#{'active' if current_page? sac_path}", style: "color: black; border: none;" %></li>
  <li><%= link_to "TRABALHE CONOSCO", trabalhe_conosco_path, class: "#{'active' if current_page? sac_path}", style: "color: black; border: none;" %></li>
  <li><%= link_to "DÚVIDAS E SUGESTÕES", dicas_path, class: "#{'active' if current_page? sac_path}", style: "color: black; border: none;" %></li>
</ul>


<style type="text/css">
  a.active{

        text-shadow: 0 0 2px rgba(255, 255, 255, 1);
        background: transparent;
        border-bottom: 3px #fff solid;
        margin-bottom: -5px;
  }
</style>

      
