  <div id="delay_key" class="progress" style="display: none;">
      <div class="indeterminate"></div>
  </div>

  <table class="highlight">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @contato_assuntos.each do |contato_assunto| %>
        <tr>
          <td><%= contato_assunto.id %></td>
          <td><%= contato_assunto.nome %></td>
          <td><%= contato_assunto.descricao %></td>
          <td>
            <%= link_to "<i class='material-icons prefix'>edit</i>".html_safe, edit_admin_contato_assunto_path(contato_assunto), class: "btn btn-floating" %>
            <%= link_to "<i class='material-icons prefix'>delete</i>".html_safe, admin_contato_assunto_path(contato_assunto), method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-floating", style: "background-color: red;" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

