<% content_for(:title, "Assuntos") %>

<div class="title">
	<h3><%= "Assuntos" %></h3>
</div>
<div style="margin: 15px; padding: 15px;">
	<%= link_to "Novo", new_admin_contato_assunto_path, class: "btn", style: "background-color: #5073b6; color: white;" %>
</div>
  <div class="row">
    <form class="col s12">
      <div class="row">
		<div class="input-field col s2">
		  <input id="id" type="text" class="validate">
		  <label class="active" for="id">Código</label>
		</div>
		<div class="input-field col s2">
		  <input id="nome" type="text" class="validate">
		  <label class="active" for="nome">Assunto</label>
		</div>
      </div>
    </form>
  </div>

<div class="row">
  <div class="col s12 m12 l12">
    <div id="contato_assunto_list">
      <%= render 'list' %>
    </div>
  </div>

</div>


<script type="text/javascript">

  $(function($) {

    $("#id").keyup(function() {

      if( $(this).prop('value') != "" ) {
        var id = $(this).prop('value');
        var nome = $("#nome").prop('value');
        delay(function(){
        	att_index(id, nome);
        }, 1000 );


      }
    });

    $("#nome").keyup(function() {

      if( $(this).prop('value') != "" ) {
        var nome = $(this).prop('value');
        var id = $("#id").prop('value');
        delay(function(){
        	att_index(id, nome);
        }, 1000 );


      }
    });


  });



</script>

<script type="text/javascript">
  
function att_index(id, nome){

    $.ajax({
      url: "/admin/contato_assuntos",
      method: "GET",
      dataType: "script",
      data: {
      	'id': 			id,
        'nome': 		nome
      },
    });

}
</script>

<script type="text/javascript">
  var delay = (function(){
    var timer = 0;
    return function(callback, ms){
      clearTimeout (timer);
      timer = setTimeout(callback, ms);
      $("#delay_key").css("display","inherit");
    };
  })();

  $("input").keyup(function() {
    $(this).val($(this).val().toUpperCase());
  });

</script>
