  <div class="row">
    <div class="field">
      <div class="input-field col s12">
        <div class="title">
          <h5>2 - Endereço</h5>
        </div>
        <div id="endereco_form">
          <%= render '/enderecos/form', object: f %>
        </div>
      </div>
    </div>


  <div class="field">
    <div class="input-field col s12">
      <div class="actions">
        <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </div>
  </div><!-- row -->