<div class="row">

  <div class="field">
    <div class="input-field col s12">
    <div class="title">
      <h5>4 - Fotos</h5>
    </div>
    </div>
  </div>

  <div id="preview"></div>

  <div class="field col s9">
    <div class="title">
      <p>Fotos</p>
    </div>
    <form action="#">
      <div class="file-field input-field">
        <div class="btn blue">
          <span>Add Fotos</span>
          <input type="file" multiple>
        </div>
        <div class="file-path-wrapper">
          <%= f.file_field :fotos, id: "browse", multiple: true, :onchange => "previewFiles()"  %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Faça o upload de uma ou mais fotos">
        </div>
      </div>
    </form>
  </div>

  <% unless @empreendimento.fotos.blank? %>
  <div class="field">
    <div class="input-field col s12">
    <div class="title">
      <h5>Fotos Carregadas</h5>
    </div>
    </div>
  </div>

  <div class="field">
    <div class="input-field col s12">

          <a id="prev" class="controle btn btn-large btn-floating left" style="left: 25%;" ><i class="material-icons prefix">navigate_before</i></a>
      <div class="carousel carousel-slider center" data-indicators="true" style="min-height: 700px !important;">
        <% @empreendimento.fotos.each_with_index do |foto, index| %>
        <div class="carousel-item white-text" href="#one!" style="background: url('<%= foto %>');background-size: 700px 700px; background-repeat: no-repeat;background-position: center; ">
            <h2><%= "#{foto.file.filename}".gsub('.jpg', '').gsub('.png', '') %> </h2>
            <div class="carousel-fixed-item center">
              <%= link_to "Tornar Capa", "#", class: "btn waves-effect white grey-text darken-text-2", :data => {:confirm => 'Are you sure?'}, method: "post" %>
              <%= link_to "Deletar", admin_empreendimentos_deletar_foto_path(@empreendimento, index: "#{index}"), class: "btn waves-effect white grey-text darken-text-2", :data => {:confirm => 'Are you sure?'}, method: "post" %>
            </div>
        </div>
        <% end %>
      </div>
            <a id="next" class="controle btn btn-large btn-floating" style="right: 25%;"><i class="material-icons prefix">navigate_next</i></a>

    </div>
  </div>
  <% end %>


  <div class="field">
    <div class="input-field col s12">
      <div class="actions">
        <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </div>

</div><!-- row -->


<!-- Assume jQuery is loaded -->
<script>
  function previewFiles() {

    var preview = document.querySelector('#preview');
    var files   = document.querySelector('#browse').files;

    function readAndPreview(file) {

    // Make sure `file.name` matches our extensions criteria
    if ( /\.(jpe?g|png|gif)$/i.test(file.name) ) {
      var reader = new FileReader();

      reader.addEventListener("load", function () {
        var image = new Image();
        image.height = 100;
        image.title = file.name;
        image.src = this.result;
        image.id = "vemni";
        preview.appendChild( image );
      }, false);

      reader.readAsDataURL(file);
    }

  }

  if (files) {
    [].forEach.call(files, readAndPreview);
  }
}
</script>


<script type="text/javascript">
 $('.carousel.carousel-slider').carousel({fullWidth: true});
</script>


<script type="text/javascript">
  $( "#next" ).click(function() {
      $('.carousel').carousel('next');
  });
  $( "#prev" ).click(function() {
      $('.carousel').carousel('prev');
  });


</script>

