<div class="row">

  <div class="field">
    <div class="input-field col s12">
      <div class="title">
        <h5>3 - Informações dos Apartamentos</h5>
      </div>
    </div>
  </div>


  <div class="field">
    <div class="input-field col s3">
      <i class="material-icons prefix">flip_to_back</i>
      <%= f.text_field :area_total %>
      <label for="icon_prefix">Área Total</label>
    </div>
  </div>

  <div class="field">
    <div class="input-field col s3">
      <i class="material-icons prefix">flip_to_back</i>
      <%= f.text_field :area_util %>
      <label for="icon_prefix">Área Útil</label>
    </div>
  </div>

  <div class="field">
    <div class="input-field col s3">
      <i class="material-icons prefix">flip_to_back</i>
      <%= f.text_field :area_apartamentos %>
      <label for="icon_prefix">Área Apartamentos</label>
    </div>
  </div>

  <div class="field">
    <div class="input-field col s3">
      <i class="material-icons prefix">flip_to_back</i>
      <%= f.text_field :tipologias %>
      <label for="icon_prefix">Tipologias</label>
    </div>
  </div>

  <div class="field">
    <div class="input-field col s3">
      <i class="material-icons prefix">filter_1</i>
      <%= f.text_field :dormitorios %>
      <label for="icon_prefix">Dormitórios</label>
    </div>
  </div>

  <div class="field">
    <div class="input-field col s3">
      <i class="material-icons prefix">filter_2</i>
      <%= f.text_field :salas %>
      <label for="icon_prefix">Salas</label>
    </div>
  </div>

  <div class="field">
    <div class="input-field col s3">
      <i class="material-icons prefix">filter_3</i>
      <%= f.text_field :cozinhas %>
      <label for="icon_prefix">Cozinhas</label>
    </div>
  </div>

  <div class="field">
    <div class="input-field col s3">
      <i class="material-icons prefix">filter_4</i>
      <%= f.text_field :banheiros %>
      <label for="icon_prefix">Banheiros</label>
    </div>
  </div>

  <div class="field">
    <div class="input-field col s3">
      <i class="material-icons prefix">filter_5</i>
      <%= f.text_field :suites %>
      <label for="icon_prefix">Suítes</label>
    </div>
  </div>

  <div class="field">
    <div class="input-field col s3">
      <i class="material-icons prefix">time_to_leave</i>
      <%= f.text_field :garagens %>
      <label for="icon_prefix">Garagens</label>
    </div>
  </div>

  <div class="field">
    <div class="input-field col s3">
      <i class="material-icons prefix">crop_portrait</i>
      <%= f.text_field :elevadores %>
      <label for="icon_prefix">Elevadores</label>
    </div>
  </div>

  <div class="field">
    <div class="input-field col s3">
      <i class="material-icons prefix">view_comfy</i>
      <%= f.text_field :unidades %>
      <label for="icon_prefix">Unidades</label>
    </div>
  </div>

  <!-- Switch -->
  <div class="switch col s3">
    <div class="title">
      <p>Pronto</p>
    </div>
    <label>
      Não
      <%= f.check_box :pronto %>
      <span class="lever"></span>
      Sim
    </label>
  </div>

  <div class="switch col s3">
    <div class="title">
      <p>Em Obra</p>
    </div>
    <label>
      Não
      <%= f.check_box :em_obra %>
      <span class="lever"></span>
      Sim
    </label>
  </div>

  <div class="switch col s3">
    <div class="title">
      <p>Na Planta</p>
    </div>
    <label>
      Não
      <%= f.check_box :na_planta %>
      <span class="lever"></span>
      Sim
    </label>
  </div>


  <div class="switch col s3">
    <div class="title">
      <p>Piscina</p>
    </div>
    <label>
      Não
      <%= f.check_box :piscina %>
      <span class="lever"></span>
      Sim
    </label>
  </div>
  <div class="switch col s3">
    <div class="title">
      <p>Mobiliado</p>
    </div>
    <label>
      Não
      <%= f.check_box :mobiliado %>
      <span class="lever"></span>
      Sim
    </label>
  </div>
  <div class="switch col s3">
    <div class="title">
      <p>Área de Lazer - Parque</p>
    </div>
    <label>
      Não
      <%= f.check_box :parque %>
      <span class="lever"></span>
      Sim
    </label>
  </div>
  <div class="switch col s3">
    <div class="title">
      <p>Salão de Festa</p>
    </div>
    <label>
      Não
      <%= f.check_box :salao_festa %>
      <span class="lever"></span>
      Sim
    </label>
  </div>
  <div class="switch col s3">
    <div class="title">
      <p>WiFi</p>
    </div>
    <label>
      Não
      <%= f.check_box :wi_fi %>
      <span class="lever"></span>
      Sim
    </label>
  </div>


  <div class="field">
    <div class="input-field col s12">
      <div class="actions">
        <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </div>

</div><!-- row -->