<%= form_for [:admin, @empreendimento] do |f| %>


  <div id="form_error">
    <%= render '/shared/form_error', object: @empreendimento %>
  </div>


  <div class="row">
      <ul class="tabs">
        <li class="tab col s3"><a href="#form_basico" class="<%= 'active' if @empreendimento.new_record? %>">1 - Empreendimento</a></li>
        <% unless @empreendimento.new_record? %>
          <li class="tab col s3"><a href="#form_endereco" class="<%= 'active' if @empreendimento.endereco.new_record? %>">2 - Endereço</a></li>
          <% unless @empreendimento.endereco.new_record? %>
            <li class="tab col s3"><a href="#form_atributos" class="<%= 'active' if @empreendimento.atributos_size < 3 %>">3 - Apartamentos</a></li>
              <% unless @empreendimento.atributos_size < 3 %>
                <li class="tab col s3"><a href="#form_fotos" class="<%= 'active' if @empreendimento.fotos.blank? %>">4 - Fotos</a></li>
              <% end %>
          <% end %>
        <% end %>
      </ul>

    <div id="form_basico" class="col s12">
      <% if ((@empreendimento.new_record?)) %>
      <% end %>
      <%= render 'admin/empreendimentos/form_empreendimento', f: f %>
    </div>
    <% unless @empreendimento.new_record? %>
      <div id="form_endereco" class="col s12">
      <% if ((@empreendimento.endereco.new_record?)) %>
      <% end %>
        <%= render 'admin/empreendimentos/form_endereco', f: f %>
      </div>
        <% unless @empreendimento.endereco.new_record? %>
        <div id="form_atributos" class="col s12">
          <%= render 'admin/empreendimentos/form_apartamentos', f: f %>
        </div>
        <% unless @empreendimento.atributos_size < 3 %>
          <div id="form_fotos" class="col s12">
          <%= render 'admin/empreendimentos/form_fotos', f: f %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>





<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });

  $(document).ready(function() {
    $('input#input_text, textarea#textarea1').characterCounter();
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
  });
</script>