<div class="row">
  <div class="title">
    <h5>1 - Informações do Empreendimento</h5>
  </div>

  <div class="field">
    <div class="input-field col s3">
      <i class="material-icons prefix">location_city</i>
      <%= f.text_field :nome %>
      <label for="icon_prefix">Nome</label>
    </div>
  </div>

  <div class="field">
    <div class="input-field col s3">
      <i class="material-icons prefix">location_city</i>
      <%= f.text_field :incorporadora %>
      <label for="icon_prefix">Incorporadora</label>
    </div>
  </div>

  <div class="field">
    <div class="input-field col s3">
      <i class="material-icons prefix">folder_shared
</i>
      <%= f.text_field :cnpj, :onkeypress => "mascara(this, checaCNPJ)", maxlength: 18 %>
      <label for="icon_prefix">CNPJ</label>
    </div>
  </div>

  <div class="field">
    <div class="input-field col s3">
      <i class="material-icons prefix">folder_shared
</i>
      <%= f.text_field :ie %>
      <label for="icon_prefix">Inscrição Estadual</label>
    </div>
  </div>

  <div class="field">
    <div class="input-field col s12">
      <i class="material-icons prefix">format_align_justify</i>
      <%= f.text_field :descricao %>
      <label for="icon_prefix">Descrição</label>
    </div>
  </div>

  <div class="field">
    <div class="input-field col s3">
      <%= f.collection_select :categoria_id, Categoria.all, :id, :nome, { prompt: "Selecione Categoria" } %>
      <%= f.label :categoria %>
    </div>
  </div>


  <div class="field">
    <div class="input-field col s12">
      <%= f.text_field :observacoes, as: :text, class: "materialize-textarea", 'data-length' => "500", id: "textarea1", maxlength: 500 %>
      <label for="textarea1">Observações</label>
    </div>
  </div>


  <div class="field">
    <div class="input-field col s12">
      <div class="actions">
        <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </div>

</div><!-- row -->