  <div id="delay_key" class="progress" style="display: none;">
      <div class="indeterminate"></div>
  </div>

  <table class="highlight">
    <thead>
      <tr>
        <th>#</th>
        <th>Título</th>
        <th>Endereço</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @empreendimentos.each do |empreendimento| %>
        <tr>
          <td><%= empreendimento.id %></td>
          <td><%= empreendimento.nome %></td>
          <td><%= empreendimento.endereco.completo unless empreendimento.endereco.blank? %></td>
          <td>
            <%= link_to "<i class='material-icons prefix'>edit</i>".html_safe, edit_admin_empreendimento_path(empreendimento), class: "btn btn-floating" %>
            <%= link_to "<i class='material-icons prefix'>delete</i>".html_safe, admin_empreendimento_path(empreendimento), method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-floating", style: "background-color: red;" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

