<div id="trabalhe_conosco">


<div id="contato" class="container">
	<div class="title">
		<p class="left titulo">QUE SUGESTÃO VOCÊ TEM PARA NÓS</p>
	</div>
	<%= form_for [@contato], remote: true do |f| %>
		<%= f.text_field :dicas, type: "hidden", value: true %>
		<div class="container-fluid">
			<div class="row">

				<div class="field">
					<div class="input-field col s12 m12">
						<div id="form_error">
							<%= render '/shared/form_error', object: @contato %>
						</div>
					</div>
				</div>

				<div class="field">
					<div class="input-field col s12 m6">
						<i class="material-icons prefix">account_circle</i>
						<%= f.text_field :nome, autofocus: true, class: "go_next"  %>
						<label for="icon_prefix">Nome Completo</label>
					</div>
				</div>

				<div class="field">
					<div class="input-field col s12 m6">
						<i class="material-icons prefix">email</i>
						<%= f.text_field :email, class: "go_next"  %>
						<label for="icon_prefix">E-mail</label>
					</div>
				</div>

				<div class="field">
					<div class="input-field col s12 m6">
						<i class="material-icons prefix">phone</i>
						<%= f.text_field :celular, class: "go_next"  %>
						<label for="icon_prefix">Celular</label>
					</div>
				</div>

				<div class="field">
					<div class="input-field col s12 m6">
						<i class="material-icons prefix">phone</i>
						<%= f.text_field :telefone, class: "go_next"  %>
						<label for="icon_prefix">Telefone</label>
					</div>
				</div>

				<div class="field">
					<div class="input-field col s12 m12">
						<i class="material-icons prefix">place</i>
						<%= f.text_field :cidade, class: "go_next"  %>
						<label for="icon_prefix">Cidade</label>
					</div>
				</div>

			    <div class="field">
			      <div class="input-field col s12 m12">
					<i class="material-icons prefix">reorder</i>
			        <%= f.text_field :mensagem, as: :text, class: "go_next materialize-textarea", 'data-length' => "500", id: "textarea1", maxlength: 500 %>
			        <label for="textarea1">Mensagem</label>
			      </div>
			    </div>



			      <div class="input-field col s12 m12">
			      	<div class="actions">
			      		<button class="btn btn-large waves-effect waves-light" type="submit" name="action" style="background-color: #003C3A; border-radius: 30px; color: #FFF;">Enviar 
			      		</button>

			      	</div>
			      </div>
			</div>
		</div>
	<% end %>
</div>

</div> <!-- DIV trabalhe_conosco -->

