<div id="home">

  <div class="slider">
    <ul class="slides">
      <li class="">
        <img class="background" src="/images/banners/infinity.jpeg"> <!-- random image -->
        <div class="caption left-align">
          <div class="row">
          <img src="/images/logos/infinity.png" style="max-width: 400px;">
          </div>
          <div class="row">
          <div class="col s4" style="text-align: center;">
            <a href="http://www.iplano.com.br/produtos/86" class="btn waves-effect waves-light center" style="border-radius: 30px; background-color: #003C3A; color: white;" target="blank">CADASTRE</a>
          </div>
          </div>
        </div>
      </li>
      <li>
        <img class="background" src="/images/banners/quartier.jpeg"> <!-- random image -->
        <div class="caption right-align">
          <h3>QUARTIER</h3>
          <a href="http://www.iplano.com.br/produtos/25" class="btn waves-effect waves-light" style="border-radius: 30px; background-color: #003C3A; color: white;" target="blank">CADASTRE</a>
        </div>
      </li>
    </ul>
  </div>
      
</div>


<style type="text/css">
.parallax-container {
}
</style>

<script type="text/javascript">
  $(document).ready(function(){
    $('.slider').slider({
        height: $(window).height()-64,
        indicators: false,
        interval: 5000,
        transition: 750,
        no_wrap: true
    });
      $('.carousel').carousel();
      $('.parallax').parallax();
    });
</script>


<script type="text/javascript">

</script>

<style type="text/css">
.slides li img.background {
  background-attachment: fixed;
}
</style>