<div id="trabalhe_conosco">

	<div id="contato" class="container">
		<div class="title">
			<p class="left titulo">TRABALHE NA MELHOR CONSTRUTORA DE SÃO CARLOS</p>
		</div>

		<%= form_for [@contato], :html => { :multipart => true }, remote: true do |f| %>
			<%= f.text_field :trabalhe_conosco, type: "hidden", value: true %>
			<div class="container-fluid">
				<div class="row">

					<div class="field">
						<div class="input-field col s12 m12">
							<div id="form_error">
								<%= render '/shared/form_error', object: @contato %>
							</div>
						</div>
					</div>

					<div class="field">
						<div class="input-field col s12 m6">
							<i class="material-icons prefix">account_circle</i>
							<%= f.text_field :nome, autofocus: true, class: "go_next"  %>
							<label for="icon_prefix">Nome Completo</label>
						</div>
					</div>

					<div class="field">
						<div class="input-field col s12 m6">
							<i class="material-icons prefix">email</i>
							<%= f.text_field :email, class: "go_next"  %>
							<label for="icon_prefix">E-mail</label>
						</div>
					</div>

					<div class="field">
						<div class="input-field col s12 m6">
							<i class="material-icons prefix">phone</i>
							<%= f.text_field :celular, class: "go_next"  %>
							<label for="icon_prefix">Celular</label>
						</div>
					</div>

					<div class="field">
						<div class="input-field col s12 m6">
							<i class="material-icons prefix">phone</i>
							<%= f.text_field :telefone, class: "go_next"  %>
							<label for="icon_prefix">Telefone</label>
						</div>
					</div>


					<div class="field">
						<div class="input-field col s12 m12">
						<%= f.collection_select :vagas_pretendidas_id, VagasPretendidas.all, :id, :nome, { prompt: "Selecione a Vaga" } %>
							<%= f.label :vaga_pretendida %>
						</div>
					</div>

				    <div class="field">
				      <div class="input-field col s12 m12">
				        <%= f.text_field :mensagem, as: :text, class: "go_next materialize-textarea", 'data-length' => "500", id: "textarea1", maxlength: 500 %>
				        <label for="textarea1">Escreva sobre você</label>
				      </div>
				    </div>

					  <div id="preview"></div>

					  <div class="field col s9">
					    <div class="title">
					      <p>Documentos</p>
					    </div>
					    <form action="#">
					      <div class="file-field input-field">
					        <div class="btn blue">
					          <span>Add Documentos</span>
					          <input type="file" multiple>
					        </div>
					        <div class="file-path-wrapper">
					          <%= f.file_field :curriculo, id: "browse2", :onchange => "previewFiles()"  %>
					        </div>
					        <div class="file-path-wrapper">
					          <input class="file-path validate" type="text" placeholder="Faça o upload de seu currículo">
					        </div>
					      </div>
					    </form>
					  </div>


				      <div class="input-field col s12 m12">
				      	<div class="actions">
				      		<button class="btn btn-large waves-effect waves-light" type="submit" name="action" style="background-color: #003C3A; border-radius: 30px; color: #FFF;">Enviar 
				      		</button>

				      	</div>
				      </div>
				</div>
			</div>
		<% end %>
	</div>

</div> <!-- DIV trabalhe_conosco -->


<!-- Assume jQuery is loaded -->
<script>
  function previewFiles() {

    var preview = document.querySelector('#preview');
    var files   = document.querySelector('#browse2').files;

    function readAndPreview(file) {

    // Make sure `file.name` matches our extensions criteria
    if ( /\.(jpe?g|png|gif|pdf|txt|doc|docx)$/i.test(file.name) ) {
      var reader = new FileReader();

      reader.addEventListener("load", function () {
        var image = new Image();
        image.height = 100;
        image.title = file.name;
        image.src = "/images/logos/files.jpg";
        image.id = "vemni";
        preview.appendChild( image );
      }, false);

      reader.readAsDataURL(file);
    }

  }

  if (files) {
    [].forEach.call(files, readAndPreview);
  }
}
</script>


<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
    $('input#input_text, textarea#textarea1').characterCounter();
  });
</script>