<% unless object.blank? %>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">OPS <span class="badge red white-text"><%= "#{1}" %></span></span>
          <p><%= object %></p>
      </div>
      <div class="card-action">
      </div>
    </div>
  </div>
</div>

<% end %>

