<%= object.fields_for :endereco do |edr| %>

  <div id="form_endereco_error">
  </div>

	<div class="row">
	    <div class="field">
	      <div class="input-field col s4">
	        <i class="material-icons prefix">location_on</i>
	        <%= edr.text_field :cep, id: "cep", class: "go_next" %>
	        <label for="icon_prefix">CEP</label>
	      </div>
	    </div>
	    <div class="field">
	      <div class="input-field col s8">
	        <i class="material-icons prefix">location_on</i>
	        <%= edr.text_field :cidade, id: "cidade", class: "go_next" %>
	        <label class="lb" for="icon_prefix">Cidade</label>
	      </div>
	    </div>
	    <div class="field">
	      <div class="input-field col s10">
	        <i class="material-icons prefix">location_on</i>
	        <%= edr.text_field :rua, id: "rua", class: "go_next" %>
	        <label class="lb" for="icon_prefix">Rua</label>
	      </div>
	    </div>
	    <div class="field">
	      <div class="input-field col s2">
	        <i class="material-icons prefix">location_on</i>
	        <%= edr.text_field :numero, class: "go_next" %>
	        <label for="icon_prefix">Número</label>
	      </div>
	    </div>
	    <div class="field">
	      <div class="input-field col s8">
	        <i class="material-icons prefix">location_on</i>
	        <%= edr.text_field :bairro, id: "bairro", class: "go_next" %>
	        <label class="lb" for="icon_prefix">Bairro</label>
	      </div>
	    </div>
	    <div class="field">
	      <div class="input-field col s4">
	        <i class="material-icons prefix">location_on</i>
	        <%= edr.text_field :complemento, class: "go_next" %>
	        <label for="icon_prefix">Complemento</label>
	      </div>
	    </div>
	</div>
<% end %>
<br>


<script type="text/javascript">
	
  $(function($) {
    $("#cep").change(function() {

      if( $(this).prop('value') != "" ) {
        var cep = $(this).prop('value');

        att_endereco(cep);

      }
    });
  });

</script>

<script type="text/javascript">
  
function att_endereco(cep){

    $.ajax({
      url: "/enderecos/att_endereco",
      method: "POST",
      dataType: "script",
      data: {
      	'cep': 			cep
      },
    });

}
</script>