<% unless @endereco.nil? %>
  $("#rua").val( "<%= @endereco[:address] %>" );
  $("#bairro").val( "<%= @endereco[:neighborhood] %>" );
  $("#cidade").val( "<%= @endereco[:city] %>" + " - " + "<%= @endereco[:state] %>" );
  $('#form_endereco_error').html("");
  Materialize.updateTextFields();
<% else %>
	$('#form_endereco_error').html("<%= j( render '/enderecos/form_error', notice: 'Erro', object: @erro )%>");
<% end %>
