<div id="nova_sessao" class="container">
  <div class="row">
    <div class="col m8 offset-m2">
    <div style="height: 100px;"></div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field brown">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <%= f.email_field :email, autofocus: true %>
          <label for="icon_prefix">E-mail</label>
        </div>
        </div>

        <div class="field">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <%= f.password_field :password %>
            <label for="icon_telephone">Password</label>
          </div>
        </div>
        

        <div class="actions">
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>

        </div>
      <% end %>

    </div>
  </div>
</div>


<style type="text/css">
  #nova_sessao{
    min-height: 500px;
  }
</style>