footer{
	margin-top: -20px;
	.buscas_populares{
		background-color: #fff;
		border-top: 1px solid #dbdbdb;
		min-height: 300px;
		margin-top: -20px;
		.title{
			text-align: center;
		}
		.chip{
			background-color: #fafafa;
			color: #dddddd;
			border: 1px solid #dddddd;
		}
	}
	.plano_anuncio{
		background-color: #d0fc20;
		min-height: 100px;
		line-height: 100px;
		text-align: center;
		margin-top: -20px;
		margin-bottom: -15px;
		button{
			color: #003C3A;
			background: #d0fc20;
			border-radius: 50px;
			border: 1px solid #003C3A;
			margin: 0 15px;
			i, span{
				vertical-align: top;
			}
			&:hover{
				background: #d0fc20;
			}
		}
		p{
			text-align: center;
			color: #003C3A;
		}
	}
	.mapa{
		min-height: 300px;
		background-color: #003C3A;
		margin-bottom: -20px;
		.title{
				text-align: left;
			h1, h2, h3, h4, h5{
				color: white;
				margin-left: 0;
				padding-left: 0;
			}
			a{
				display: block;
				margin: 0;
				padding: 0;
				color: white;
				&:hover{
					text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.8);
				}
			}
		}
	}
	.institucional{
		min-height: 150px;
		background-color: #003C3A;
		border-top: 1px solid #444;
		h3, h4, h5{
			color: white;
			margin: 15px 0px;
			padding: 15px 0px;
		}
		a{
			margin: 15px 0px;
			padding: 15px 0px;
			color: white;
			&:hover{
				text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.8);
			}
		}
	}
}
