.title{
	h1, h2, h3, h4, h5, p, a, strong, span, b, i{
		margin: 15px;
		padding: 15px;
	}
}
.title{
	color: #003C3A;
}
.ativo{
	background-color: #273249 !important;
	color: #222;
	font-weight: 500;
}
.container-fluid{
	padding: 15px;
	margin: 15px;
}
button.controle, a.controle{
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 50%;
	&:hover, &:focus{
		background-color: rgba(0,0,0,0.6);
	}
}

.load-ajax {
  top: 40%;
  left: 49%;
  position: fixed;
  z-index: 5000;
}