
@media only screen and (max-width : 420px) {


  .nav_top{
    a{
      border-bottom: 3px transparent solid;
      color: #000 !important;
      &:hover, &:focus, &:active{
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.99);
        background: transparent;
        border-bottom: 3px #eee solid;
        margin-bottom: -5px;
      }
    }
  }

}