#home{
	background-color: #fafafa;
	min-height: 300px;
}

#minha_casa_minha_vida{
	background-color: #fafafa;
	min-height: 300px;
}


#trabalhe_conosco{
	background-color: #fafafa;
	min-height: 300px;
}



body.pages,
body.contatos{
	#content{
		background-image: url("/images/banners/background.jpg");
		background-size: cover;
		position: relative;
	}

	#sac{
		background-color: rgba(255,255,255,0.92);
		min-height: 400px;
	}

	#trabalhe_conosco{
		background-color: rgba(255,255,255,0.92);
		min-height: 400px;
	}

	#dicas{
		background-color: rgba(255,255,255,0.92);
		min-height: 400px;
	}
}
