<div class="container">
  <div class="row">
    <div class="col m8 offset-m2">

    <div class="title">
      <h4>Editar usuário</h4>
    </div>

      <%= form_for [:admin, @user] do |f| %>

    <div class="title">
      <h5>Devise</h5>
    </div>
        <div class="field">
          <div class="input-field col s12">
            <i class="material-icons prefix">remove_red_eye</i>
            <%= f.text_field :uid, disabled: true %>
            <label for="icon_prefix">UID</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <%= f.text_field :name, disabled: true %>
            <label for="icon_prefix">Name</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <%= f.text_field :email, disabled: true %>
            <label for="icon_prefix">E-mail</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12">
            <i class="material-icons prefix">android</i>
            <%= f.text_field :provider, disabled: true %>
            <label for="icon_prefix">Provider</label>
          </div>
        </div>


        <div class="actions">
          <button class="btn waves-effect waves-light" type="submit" name="action">Update
            <i class="material-icons right">send</i>
          </button>
        </div>
      <% end %>


    </div>
  </div>
</div>

<script type="text/javascript">
   $(document).ready(function() {
      $('select').material_select();
    });
   
</script>