<div class="container">
  <div class="row">
    <div class="col m8 offset-m2">

    <div class="title">
      <h4>Novo usuário</h4>
    </div>

      <%= form_for [:admin, @user] do |f| %>

    <div id="form_error">
      <%= render '/shared/form_error', object: @user %>
    </div>

    <div class="title">
      <h5>Devise</h5>
    </div>


      <div class="row">
        <div class="field">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <%= f.text_field :name, autofocus: true %>
            <label for="icon_prefix">Name</label>
          </div>
        </div>

        <div class="field">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <%= f.text_field :email %>
            <label for="icon_prefix">E-mail</label>
          </div>
        </div>
        <div class="field">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <% if @minimum_password_length %>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
            <label for="icon_telephone">Password</label>
          </div>
        </div>
        <div class="field">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            <label for="icon_telephone">Password Confirmation</label>
          </div>
        </div>
      </div>



        <div class="field">
          <div class="input-field col s12">
        <div class="actions">
          <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
            <i class="material-icons right">send</i>
          </button>
        </div>
          </div>
        </div>

      <% end %>


    </div>
  </div>
</div>

<script type="text/javascript">
   $(document).ready(function() {
      $('select').material_select();
    });
   
</script>