  <div id="delay_key" class="progress" style="display: none;">
      <div class="indeterminate"></div>
  </div>

  <table class="highlight">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Imóveis</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @categorias.each do |categoria| %>
        <tr>
          <td><%= categoria.id %></td>
          <td><%= categoria.nome %></td>
          <td><%= categoria.descricao %></td>
          <td><%= categoria.produtos.size %></td>
          <td>
            <%= link_to "<i class='material-icons prefix'>edit</i>".html_safe, edit_admin_categoria_path(categoria), class: "btn btn-floating" %>
            <%= link_to "<i class='material-icons prefix'>delete</i>".html_safe, admin_categoria_path(categoria), method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-floating", style: "background-color: red;" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

