<nav class="nav_top_back">
  <div class="nav-wrapper">
    <ul class="right hide-on-med-and-down">
      <% if current_user %>
                <li><%= link_to("Sair <i class='material-icons'>exit_to_app</i>".html_safe, destroy_user_session_path, :method => :delete, style: "display: inline-flex;") %></li>
              <li>
                <img src="<%= current_user.image_to %>" class="circle" style="padding-top: 5px; max-width: 50px;">
              </li>
        <% end %>
    </ul>

    <ul class="left hide-on-med-and-down">
      <li>
          <a href="#" data-activates="slide-out" class="button-collapse" style="display: inline !important;"><i class='material-icons'>menu</i></a>


          <ul id="slide-out" class="side-nav left-align">
            <li>
              <div class="user-view">
                <div class="background">
                  <img src="/images/banners/office.jpg">
                </div>
                <a><img class="circle" src="<%= current_user.image_to %>"></a>
                <a><span class="white-text name"><%= current_user.name %></span></a>
                <a><span class="white-text email"><%= current_user.email %></span></a>
              </div>
            </li>
            <li>
              <ul class="collapsible collapsible-accordion">
                <li>
                  <a class="collapsible-header"><i class="material-icons">group</i>Devises</a>
                  <div class="collapsible-body">
                    <ul style="display: grid;">
                      <li><%= link_to "Usuários", admin_users_path %></li>
                    </ul>
                  </div>
                </li>
                <li><div class="divider"></div></li>
                <li>
                  <a class="collapsible-header"><i class="material-icons">store</i>Produtos</a>
                  <div class="collapsible-body">
                    <ul style="display: grid;">
                      <li><%= link_to "Empreendimentos", admin_empreendimentos_path %></li>
                      <li><%= link_to "Categorias", admin_categorias_path %></li>
                    </ul>
                  </div>
                </li>
                <li><div class="divider"></div></li>
                <li>
                  <a class="collapsible-header"><i class="material-icons">contact_phone</i>Contatos</a>
                  <div class="collapsible-body">
                    <ul style="display: grid;">
                      <li><%= link_to "SAC", admin_contatos_path(sac: true), class: "#{'active' if current_page? admin_contatos_path}" %></li>
                      <li><%= link_to "Trabalhe Conosco", admin_contatos_path(trabalhe_conosco: true), class: "#{'active' if current_page? admin_contatos_path}" %></li>
                      <li><%= link_to "Dúvidas e Sugestões", admin_contatos_path(dicas: true), class: "#{'active' if current_page? admin_contatos_path}" %></li>
                      <li><%= link_to "Assuntos", admin_contato_assuntos_path %></li>
                      <li><%= link_to "Vagas Pretendidas", admin_vagas_pretendidas_path %></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li><div class="divider"></div></li>
            <li><%= link_to('Sair', destroy_user_session_path, :method => :delete) %></li>
          </ul>
      </li>

      <li>Logado como Administrador</li>
    </ul>
  </div>
</nav>

<nav class="nav_botton_back">
    <div class="nav-wrapper">
        <img class="logo" src="/images/logos/logo.png">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "HOME", admin_root_path, class: "#{'active' if current_page? admin_root_path}" %></li>
        <li><%= link_to "USUÁRIOS", admin_users_path, class: "#{'active' if current_page? admin_users_path}" %></li>
        <li><%= link_to "EMPREENDIMENTOS", admin_empreendimentos_path, class: "#{'active' if current_page? admin_empreendimentos_path}" %></li>
        <li><%= link_to "SAC", admin_contatos_path(sac: true), class: "#{'active' if current_page? admin_contatos_path}" %></li>
        <li><%= link_to "Trabalhe Conosco", admin_contatos_path(trabalhe_conosco: true), class: "#{'active' if current_page? admin_contatos_path}" %></li>
        <li><%= link_to "Dúvidas e Sugestões", admin_contatos_path(dicas: true), class: "#{'active' if current_page? admin_contatos_path}" %></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to "HOME", admin_root_path, class: "#{'active' if current_page? admin_root_path}" %></li>
        <li><%= link_to "USUÁRIOS", admin_users_path, class: "#{'active' if current_page? admin_users_path}" %></li>
        <li><%= link_to "EMPREENDIMENTOS", admin_empreendimentos_path, class: "#{'active' if current_page? admin_empreendimentos_path}" %></li>
        <li><%= link_to "SAC", admin_contatos_path(sac: true), class: "#{'active' if current_page? admin_contatos_path}" %></li>
        <li><%= link_to "Trabalhe Conosco", admin_contatos_path(trabalhe_conosco: true), class: "#{'active' if current_page? admin_contatos_path}" %></li>
        <li><%= link_to "Dicas", admin_contatos_path(dicas: true), class: "#{'active' if current_page? admin_contatos_path}" %></li>
      </ul>
    </div>
  </nav>