<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= display_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
      <%= render "/admin/shared/navbar" %>
    </header>



      <div class="load-ajax circle">
        <%= image_tag 'loader.gif' %>
      </div>
    <main style="background-color: #fafafa;">
          <%= render "admin/shared/menu" %>
      <div id="content">
        <%= yield %>
      </div>

    </main>

    <footer>
      <%= render "/admin/shared/footer" %>
    </footer>

    <% flash.each do |message_type, message| %>
      <% if message_type == 'alert' %>
        <%= javascript_tag "Materialize.toast('#{message}', 4000, 'red')" %>
      <% else message_type == 'notice' %>
        <%= javascript_tag "Materialize.toast('#{message}', 4000, 'green')" %>
      <% end %>
    <% end %>
  </body>
</html>


<script type="text/javascript">
$(document).ready(function(){
$(".go_next").keypress(function(event) {
        if(event.keyCode == 13) { 
        textboxes = $("input.go_next");
        debugger;
        currentBoxNumber = textboxes.index(this);
        if (textboxes[currentBoxNumber + 1] != null) {
            nextBox = textboxes[currentBoxNumber + 1]
            nextBox.focus();
            nextBox.select();
            event.preventDefault();
            return false 
            }
        }
    });
})
</script>


  
<script type="text/javascript">
$(function() {


  $('.load-ajax').hide();
  $(document).ajaxStart(function() {
    $('.load-ajax').show();
  });
  $(document).ajaxStop(function() {
    $('.load-ajax').hide();
  });

});
</script>